---
import SectionNotes from "src/components/SectionNotes.astro";
import Layout from "../layouts/Layout.astro";
import PrincipalCarrusel from "src/components/PrincipalCarrusel.astro";
import AsideCard from "src/components/AsideCard.astro";
import { newsEndpoints } from "src/endpointsRouter";

const apiUrl = `${
  import.meta.env.API_URL
}${newsEndpoints.getLatestNotesEndpoint()}`;
const res = await fetch(apiUrl);
const data = await res.json();

// Separar stories y news del backend
const stories = data.stories.slice(0, 3); // Tomar solo las primeras 3 historias
const news = data.news.slice(0, 2); // Tomar solo las primeras 2 noticias

// Mezclar las notas en el orden requerido
const latestNotes = [];
for (let i = 0; i < 3; i++) {
  if (stories[i]) latestNotes.push(stories[i]);
  if (news[i]) latestNotes.push(news[i]); // Solo intercalar si hay noticias disponibles
}
---

<Layout title="Historias de futbol">
  <PrincipalCarrusel notes={latestNotes} />

  <div
    class="flex flex-col gap-5 lg:flex-row items-center lg:items-start justify-around w-full px-14 py-10"
  >
    <SectionNotes notes={stories} title="Historias" />
    <AsideCard />
  </div>
  <div
    class="flex flex-col gap-5 lg:flex-row items-center lg:items-start justify-around w-full px-14 py-10"
  >
    <SectionNotes notes={news} title="Noticias" />
    <AsideCard />
  </div>
</Layout>
