---
import { MaterialSymbolsArrowForwardIosRounded } from "src/assets";
import AsideCard from "src/components/AsideCard.astro";
import AuthorCard from "src/components/AuthorCard.astro";
import Layout from "src/layouts/Layout.astro";
import SectionNotesLayout from "src/layouts/SectionNotesLayout.astro";
---

<Layout title="Caso | Historias de futbol">
  <div
    class="flex flex-col-reverse gap-5 lg:flex-row items-center lg:items-start justify-around w-full px-14 py-10 mt-36"
  >
    <SectionNotesLayout>
      <header class="flex flex-col gap-5">
        <div class="flex flex-wrap items-center gap-6">
          <div
            class="bg-primary-25 text-text montserrat-alternates-semibold rounded-full text-xl py-1 px-4"
          >
            Alianza Lima
          </div>
          <div
            class="bg-primary-25 text-text montserrat-alternates-semibold rounded-full text-xl py-1 px-4"
          >
            Liga 1
          </div>
          <div
            class="bg-primary-25 text-text montserrat-alternates-semibold rounded-full text-xl py-1 px-4"
          >
            Perú
          </div>
        </div>
        <h1 class="montserrat-bold text-5xl">
          Caso Cristian Diaz, le gano en el TAS a Alianza
        </h1>
        <div class="w-full flex items-center justify-between">
          <h3 class="montserrat-light text-base text-primary-25">
            15 el noviembre del 2024
          </h3>
          <h2 class="montserrat-light text-base">
            Por: <span class="montserrat-bold">NICOLAS VIGO C.</span>
          </h2>
        </div>
      </header>
      <section>
        <figure>
          <img
            src="https://imgmedia.libero.pe/652x365/libero/original/2024/08/01/66ac0708a553bc503748ee0d.webp"
            alt=""
            class="w-full min-w-[300px] max-w-[650px] object-cover rounded-md"
          />
          <figcaption>
            <h4 class="">
              Fuente:
              <span class="italic"> De los deseos </span>
            </h4>
          </figcaption>
        </figure>
        <div class="mt-5 mb-5 text-lg">
          <div class="">
            Alianza Lima no solo pasó un año complicado a nivel resultados
            deportivos, sino también a nivel dirigencial. Tras la salida
            de Alejandro Restrepo, Bruno Marioni -en su rol de gerente deportivo
            del club- debía buscar a un nuevo entrenador. Así fue que sonaron
            muchos nombres, pero la curiosidad mayor fue cuando se conoció
            que Cristian Díaz sería el estratega y luego todo lo contrario.
            Finalmente, se dio marcha atrás y se perfiló un acuerdo con Mariano
            Soso.
          </div>
          <div class="bg-[#D9D9D9] w-full h-20 rounded-md mt-5 mb-5"></div>
          <div class="">
            “Hubo incumplimiento de contrato por no ponerlo en funciones y por
            la negligencia de todo lo vivido, por haberlo hecho renunciar en un
            club en donde él estaba cómodo y no darle las funciones que rezaba
            el acuerdo que tenían ambas partes. Tras la firma, a los tres días
            un abogado con poder de Alianza nos contactó y nos dijo que por
            fuerza mayor, que no podrían defender la integridad física del
            entrenador, que no estaban dadas la seguridad y un montón de cosas,
            como si el país estaría en estado sumamente grave, puras ‘pavadas’
            que no tenían nada que ver con la decisión que ellos habían tomado”,
            dijo el agente de Díaz para el medio de comunicación peruano.
          </div>
        </div>
        <div class="">
          <h3 class="montserrat-medium text-xl mb-4 mt-7">
            Imagenes relacionadas
          </h3>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
            <img
              src="https://imgmedia.libero.pe/652x365/libero/original/2024/08/01/66ac0708a553bc503748ee0d.webp"
              alt=""
              class="size-[300px] object-cover"
            />
            <img
              src="https://s.hs-data.com/bilder/spieler/gross/12658.jpg"
              alt=""
              class="size-[300px] object-cover"
            />
            <img
              src="https://cienciano.com/wp-content/uploads/2024/08/DT_03_WEB.webp"
              alt=""
              class="size-[300px] object-cover"
            />
          </div>
        </div>
      </section>
      <footer class="flex flex-col gap-10">
        <AuthorCard />
        <button
          class="bg-primary-5 text-primary-15 hover:bg-primary-15 hover:text-primary-5 p-3 rounded-md montserrat-alternates-medium transition-all duration-300 ease-out text-xl flex items-center justify-center gap-3"
          aria-label="Volver a la pagina anterior"
        >
          <span class="rotate-180">
            <MaterialSymbolsArrowForwardIosRounded />
          </span>
          Volver
        </button>
      </footer>
    </SectionNotesLayout>
    <AsideCard />
  </div>
</Layout>
